PORT=3000
HOST=0.0.0.0
NETWORK=main
RAW_TX_URL=https://api.whatsonchain.com/v1/bsv/{network}/tx/{txid}/hex
RAW_TX_TIMEOUT_MS=15000
CACHE_MAX=500
CACHE_TTL_MS=600000
MAX_INLINE_CONTENT_BYTES=262144
MAX_ENVELOPES_PER_OUTPUT=16
